<!DOCTYPE html>
<html>
  <head>
    <title>ENTR451: User Security</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
    <p>
      <% if session["user_id"] == nil %>
        <a href="/users/new">Sign Up</a>
        |
        <a href="/login">Login</a>
      <% else %>
        <% user = User.find_by(id: session["user_id"]) %>
        <a href="/logout">Logout</a>
        <% if user %>
          Welcome, <%= user.first_name %> <%= user.last_name %>
        <% end %>
      <% end %>
    </p>

    <% if flash["notice"] %>
      <p><%= flash["notice"] %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
